{% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
  <section>
    <div class="flex-caption">
      <div>
        <h1>Discover transformational travel experiences around the world.</h1>
        <p >
          Find the perfect match for your interests in our database of ecovillages,
          intentional communities, permaculture farms, social projects and retreat centers.
        </p>
      </div>
    </div>
    <div class="flex-image"></div>
    <button class="btn" type="button">Find Centers »</button>
  </section>

  <section>
    <div class="flex-banner">
      <h1>We help people make an impact.</h1>
    </div>
  </section>

  <section>
    <div class="flex-caption">
      <div>
        <h2>
          Learn new skills.
        </h2>
        <p>
          Find hands-on learning opportunities in permaculture, natural building,
          yoga, organic farming, regenerative living and more.
        </p>
      </div>
    </div>
    <div class="flex-image"></div>
  </section>

  <section>
    <div class="flex-caption">
      <div>
        <h2>
          Offer your skills.
        </h2>
        <p>
          Centers are looking for supportive people with a wide variety of
          skills, including: marketing, permaculture design photography and web design.
        </p>
      </div>
    </div>
    <div class="flex-image"></div>
  </section>

  <section>
    <div class="flex-caption">
      <div>
        <h2>
          Visit amazing places.
        </h2>
        <p>
          You may find the opportunity you’re looking for on the side of a
          lush volcano or right in your own backyard.
        </p>
      </div>
    </div>
    <div class="flex-image"></div>
  </section>

  <section>
    <div class="flex-banner">
      <h1>We help centers thrive.</h1>
    </div>
  </section>
{% endblock %}
