{% extends '../layouts/default.html' %}

{% block content %}
  <div class="spacer"></div>
  {% if (centers.length) %}
    {% for center in centers %}
      {% include 'center.html' %}
    {% endfor %}

    {% if (pages > 1) %}
      <ul class="pagination">
        {% autoescape false %}
          {{ createPagination(pages, page) }}
        {% endautoescape %}
      </ul>
    {% endif %}
  {% else %}
    <h4 class="muted">
      No centers.&nbsp;
      <a href="/centers/new">create one</a>
    </h4>
  {% endif %}
{% endblock %}
