{% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ center.title }}</h1>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      <p>{{ center.body }}</p>
      <div class="meta">
        {% if (center.user) %}
          Author: &nbsp;
          <a href="{{ '/users/' + center.user._id }}">
            {{ center.user.name || center.user.username }}
          </a>
        {% endif %}
        {% if (center.tags) %}
          <p>
            Tags: &nbsp;
            {% for tag in center.tags.split(',') %}
              <i class="muted fa fa-tag"></i>&nbsp;
              <a href="{{ '/tags/' + tag }}" class="tag">{{ tag }}</a>
              &nbsp;&nbsp;
            {% endfor %}
          </p>
        {% endif %}
        <span class="muted">{{ center.createdAt.toISOString()|date('M d, Y  h:m a') }}</span>
      </div>
    </div>
    <div class="col-md-4">
      {% if (!center.isNew && center.image && center.image.files && center.image.files.length) %}
        <img src="{{ center.image.cdnUri + '/mini_' + center.image.files[0] }}" alt="">
      {% endif %}
    </div>
  </div>

  <form action="{{ '/centers/' + center.id }}" method="post" onsubmit="return confirm('Are you sure?')">
    <br>
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <a href="{{ '/centers/' + center._id + '/edit' }}" title="edit" class="btn btn-default">
      Edit
    </a>
    &nbsp;
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger" type="submit">Delete</button>
  </form>

{% endblock %}
